/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* page */
body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;  
}

body #content
{
    padding-top: 20px;   
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 960px;
}

/* header */
.header
{
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;   
}

header #logo {
    float: left;
    width: 275px;
    margin-top: 1px;
}

header #site-name {
    display: none;
}

.header .container
{
    position: relative;   
}

.header.outer
{
    border-bottom: 1px solid #E1E1E1;
    box-shadow: 0 3px 7px #EFEFEF;
    height: 55px;
    width: auto;
    background: #fff;
    margin-bottom: 0px;
    position: relative;
}

.header .account {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

header .menu #mainmenu {
    display: inline;
    position: absolute;
    right: 150px;
    top: 10px;
}

header .menu a 
{
    color: #555555;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-left: 1.5em;
    padding-top: 9px;
    text-decoration: none;
    text-shadow: none;
}

header .menu #menusearch {
    float: none;
}

header .menu input {
    background: url("img/search_16.png") no-repeat scroll 4px 6px transparent;
    height: 22px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 2px 5px 2px 25px;
    width: 140px;
}

header .search {
    font-weight: normal;
    font-size: 13px;
}

input.search
{
    font-weight: normal;
}


/* footer */
.footer.outer 
{
    border-top: 1px solid #E1E1E1;
    box-shadow: 0 0 80px #E1E1E1 inset;
    float: left;
    padding-top: 10px;
    width: 100%;
    background-image: none;
    background-color: #fff;
}

footer h3
{
    font-weight: bold;
}

/* General styles */
a {
    color: #008EE8;
    text-decoration: none;
}

a:hover {
    color: #EC8526;
    text-decoration: underline;
}

/* home */
.page_heading
{
    display: none;
}

body.index.home .front-page .action-box
{
    background: none;
    border: none;
    margin-top: 20px;
}

body.index.home .front-page .action-box h1
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #333333;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body.index.home .front-page .action-box-inner {
    padding: 0 0 0 40px;
    min-height: 15em;
    margin: 0 5px 0 8px;
}

body.index.home .front-page .action-box-inner input
{
    border-radius: 3px;      
}

body.index.home .front-page .action-box-inner.find {
    background: url("img/gears.png") no-repeat scroll 0px 10px transparent;
}

body.index.home .front-page .action-box-inner.share {
    background: url("img/gears.png") no-repeat scroll 0px 10px transparent;
}

body.index.home .front-page .action-box-inner.collaborate {
    background: url("img/gears.png") no-repeat scroll 0px 10px transparent;
}

body.index.home .front-page .action-box-inner .create-button
{
    float: none;
    position: relative;
    text-align: center;

    background: #4ea0e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #4ea0e8 0%, #388bea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ea0e8), color-stop(100%,#388bea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* IE10+ */
    background: linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea0e8', endColorstr='#388bea',GradientType=0 ); /* IE6-9 */


    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

body.index.home .front-page .action-box-inner .create-button:hover
{
   background: #4792d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #4792d3 0%, #2c85ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4792d3), color-stop(100%,#2c85ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* IE10+ */
    background: linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4792d3', endColorstr='#2c85ea',GradientType=0 ); /* IE6-9 */

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Forms */
label.control-label {
    font-size: 13px;
    font-weight: bold;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-horizontal .controls {
    margin-left: 150px;
}

legend
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #333333;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}