/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

h1, h2, h3, h4, h5
{
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* page */
body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;  
}

body #content
{
    padding-top: 5px;   
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 960px;
}

/* header */
#main-menu
{
    font-size: 14px;
}

.header
{
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

header .inner
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header
{
    border-bottom: 1px solid #E1E1E1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    height: 55px;
    padding: 0;
    background: #fff;
}

header #logo {
    float: left;
    width: 275px;
    margin-top: 1px;
    padding-top: 5px;
}

header #site-name {
    display: none;
}

.header .container
{
    position: relative;   
}

.header.outer
{
    width: auto;
    background: #333333;
    border-bottom: 2px solid #E1E1E1 !important;
    margin-bottom: 0px;
    position: relative;
    height: 90px;
    width: auto;
    box-shadow: none;
    margin-bottom: 10px;   
}

.header .account {
    position: absolute;
    right: 0;
    z-index: 1;
}

header .menu
{
    display: block;
    height: 35px;
    position: absolute;
    position: relative;
    top: 56px;
}

header .menu #mainmenu {
    display: block;
    position: absolute;
}

header .menu a 
{
    color: #ffffff;
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    padding: 2px 5px;
    text-decoration: none;
    text-shadow: none;
    margin: 5px 6px;
}

header .menu a:hover
{
    color: #3D6A8C
}

header .menu.account 
{
    white-space:nowrap;
}

header .menu.account a 
{ 
    color: #ffffff;
    padding: 1px 9px 3px 24px;

    box-shadow: 0 -20px 20px -8px rgba(0, 0, 0, 0.05) inset;
    
    border: none;
    border-radius: 4px 4px 4px 4px;
    background: url("../img/lock_w.png") no-repeat scroll 4px 4px #66CC44;

}

header .menu.account a:hover
{
    box-shadow: 0 -20px 20px -10px rgba(255, 255, 255, 0.2) inset;
}

header .menu.account .ckan-logged-in a
{
    background: url("../img/unlock_w.png") no-repeat scroll 4px 4px #D34141;
}

header .menu.account .ckan-logged-out a
{
    display: none;
}

header .menu.account .ckan-logged-out a:first-child
{
    display: block;
}

header .menu.account .ckan-logged-in a:first-child
{
    background: none;
    border: none;
    box-shadow: none;
    color: #1D83C6;
}

header .menu.account .ckan-logged-in a:first-child:hover
{
    color: #3D6A8C;
}

header .menu #menusearch {
    display: none;
}

header .menu input {
    background: url("../img/search_16.png") no-repeat scroll 4px 6px #fff;
    height: 22px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 2px 5px 2px 25px;
    width: 140px;
}

header .search {
    font-weight: normal;
    font-size: 13px;
}

input.search
{
    font-weight: normal;
}

/* minor navigation */

.dropdown-menu
{
    padding: 0px;
}

.dropdown-menu a {
    color: #000000;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 5px 15px;
}

#minornavigation .divider
{
    display: none;
}

#minornavigation .nav 
{
    border-radius: 2px;
    border: 1px solid #CCCCCC;
    padding: 0px;
    font-weight: normal;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#minornavigation .nav-pills > li > a
{
    border: none;
    border-radius: 0px;
    margin: 0px;
    border-right:1px solid #cccccc;
    background-image: -moz-linear-gradient(center top , #ffffff, #e6e6e6);
}

#minornavigation .nav > li.active > a
{
    background: none repeat scroll 0 0 transparent;
    border: none;
    background-color: #e6e6e6;
    border-right:1px solid #cccccc;
}

#minornavigation .nav > li > a:hover
{
    color: #1D83C6;
}

/* footer */
.footer.outer 
{
    border-top: 1px solid #E1E1E1;
    box-shadow: 0 0 80px #E1E1E1 inset;
    float: left;
    padding-top: 10px;
    width: 100%;
    background-image: none;
    background-color: #fff;
}

footer h3
{
    font-weight: bold;
}

/* General styles */
a {
    color: #008EE8;
    text-decoration: none;
}

a:hover {
    color: #EC8526;
    text-decoration: underline;
}

/* home */
.page_heading
{
    display: none;
}

body.index.home .front-page .action-box
{
    background: none;
    border: none;
    margin-top: 20px;
}

body.index.home .front-page .action-box h1
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #333333;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body.index.home .front-page .action-box-inner {
    padding: 0 0 0 40px;
    min-height: 15em;
    margin: 0 5px 0 8px;
}

body.index.home .front-page .action-box-inner input
{
    border-radius: 3px;      
}

body.index.home .front-page .action-box-inner.find {
    background: url("../img/zoom.png") no-repeat scroll 0px 10px transparent;
    background: url("../img/gears.png") no-repeat scroll 0px 10px transparent;
}

body.index.home .front-page .action-box-inner.share {
    background: url("../img/users.png") no-repeat scroll 0px 10px transparent;
    background: url("../img/gears.png") no-repeat scroll 0px 10px transparent;
}

body.index.home .front-page .action-box-inner.collaborate {
    background: url("../img/documents.png") no-repeat scroll 0px 10px transparent;
    background: url("../img/gears.png") no-repeat scroll 0px 10px transparent;
}

body.index.home .front-page .action-box-inner .create-button
{
    float: none;
    position: relative;
    text-align: center;

    background: #4ea0e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #4ea0e8 0%, #388bea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ea0e8), color-stop(100%,#388bea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* IE10+ */
    background: linear-gradient(top,  #4ea0e8 0%,#388bea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea0e8', endColorstr='#388bea',GradientType=0 ); /* IE6-9 */


    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

body.index.home .front-page .action-box-inner .create-button:hover
{
    background: #4792d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #4792d3 0%, #2c85ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4792d3), color-stop(100%,#2c85ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* IE10+ */
    background: linear-gradient(top,  #4792d3 0%,#2c85ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4792d3', endColorstr='#2c85ea',GradientType=0 ); /* IE6-9 */

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Forms */
label.control-label {
    font-size: 13px;
    font-weight: bold;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-horizontal .controls {
    margin-left: 150px;
}

legend
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #333333;
    font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.markdown-editor
{
    border-radius: 3px;    
}

/* Sidebar */
#sidebar .widget-list li.widget-container.boxed
{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-bottom: 20px;
    background: #fff;
}

/* alerts */
.alert-info
{
    background-color: #EEEEEE;
    border-color: #CCCCCC;
    color: #000000;
}

/* footer */
footer .row {
    margin: 0 auto;
    width: 960px;
}

footer #copyright {
    background: none repeat scroll 0 0 #333333;
    float: left;
    margin-top: 30px;
    padding: 15px 0 20px;
    width: 100%;
}

footer #copyright .wrap {
    margin: 0 auto;
    width: 960px;
}

footer #copyright span {
    color: #B7B9B3;
    font-size: 12px;
}

footer #copyright a {
    font-size: 13px;
}

footer #copyright span a {
    color: #718293;
    text-decoration: none;
}

footer #copyright span a:hover {
    color: #8596A6;
    text-decoration: none;
}

.alignleft {
    float: left;
    width: auto;
}

.alignright {
    float: right;
    width: auto;
}