<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>
 
  <py:def function="page_title">Welcome</py:def>

  <div py:match="//div[@id='content']" class="front-page">
    <div>
      <h1 class="page_heading">Welcome to ${g.site_title}!</h1>
    </div>
    <div class="row">
      <div class="span4">
        <div class="action-box">
          <div class="action-box-inner find clearfix package-count-box">
            <h1>Find data</h1>

            <form action="${h.url_for(controller='package', action='search')}" method="GET"> 
              <input name="q" value="" class="search-field" placeholder="${_('Find datasets')}" /> 
            </form> 
            <div class="package-count">${c.package_count}</div>
            <div class="package-count-label"><a href="${h.url_for(controller='package', action='search')}">datasets available</a></div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="action-box">
          <div class="action-box-inner share clearfix">
          <h1>Share data</h1>

          <p>Add your own datasets to share them with others and
          to find other people interested in your data.</p>
          
          <py:choose test="h.check_access('package_create')">
            <a py:when="" href="${h.url_for(controller='package', action='new')}" class="create-button">Create a dataset &raquo;</a>
            <py:otherwise>
              <a href="${h.url_for(controller='user', action='login')}" class="create-button">Sign up &raquo;</a>
            </py:otherwise>
          </py:choose>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="action-box">
          <div class="action-box-inner tags clearfix">
          <h1>Popular Tags</h1>
            <div id="tagcloud">
              <py:for each="tag_name, count in c.facets.get('tags', { }).items()">
                <a py:if="(count > 15 and tag_name != 'colorado')" rel="${count}" title="${count}" href="${h.url_for(controller='tag',action='read', id=tag_name)}">${tag_name}</a>
              </py:for>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div py:if="c.groups" class="row whoelse">
      <div class="span12">
        <h2>Participating Organizations</h2>
      </div>
    </div>
    <div class="row">
      <py:for each="i, group_dict in enumerate(c.groups[:6])">
        <div class="span4">
          <div class="group group-badge">
            <div class="group-badge-title"><a href="${h.url_for(controller='group', action='read', id=group_dict['name'])}">${group_dict['title']}</a></div>
            <div class="group-badge-count">${group_dict['packages']}</div>
          </div>
        </div>
      </py:for>
    </div>
  </div>
  <xi:include href="layout.html" />
</html>

